{% extends "mysite/base.html" %}
{% block content %}
  {% if activeperson.status <= 10 %}
    <h2 class='item'><span class='detail'>{{sitesettings.advert}}</span></h2>
    <h2 class='item'><span class='detail'>{{sitesettings.contact_info}}</span></h2>
  {% endif %}
  {% if activeperson.status >= 30 %}
    {% if periodsought = 'current' %}
      <a class="btn btn-default" href="{% url 'eventinsert' %}" >Add an event</span></a>
      <a class="btn btn-default" href="{% url 'eventlist' 'notcurrent' %}" >View archived events</span></a>
    {% else %}
      <h1> Events that have either been deleted or have become outdated</h1>
      <a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >View current events</span></a>
    {% endif %}
  {% endif %}

  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'memberlist' %}">
    {% if IS_CLUB %}
      <span>View members</span></a>
    {% else %}
      <span>View persons</span></a>
    {% endif %}
  {% endif %}

  {% if activeperson.status >= 35 %}
    <a class="btn btn-default" href="{% url 'memberinsert' %}" >
    {% if IS_CLUB %}
      <span>Add a member</span></a>
    {% else %}
      <span>Add a login</span></a>
    {% endif %}
  {% endif %}

  {% if activeperson.status >= 30 %}
    <a class="btn btn-default" href="{% url 'contactinsert' %}" >
    <span>Add a contact</span></a>
  {% endif %}

  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'password' %}">
    <span>Change Your Password</span></a>
    <a class="btn btn-default" href="{% url 'displayname' %}">
    <span>Change Your Displayed Name</span></a>
    <a class="btn btn-default" href="{% url 'useroptions' type='get' color='get' whence='events' %}">
    <span>Settings</span></a>
  {% endif %}
  {% if activeperson.status >= 60 %}
    <a class="btn btn-default" href="{% url 'siteadmindetail' %}">
    <span>Admin</span></a>
  {% endif %}

    {% comment %}
    {% endcomment %}

   <hr>
  {% for x in events %}
    <h2>
    {% if activeperson.status >= 10 %}
    <span class='date'>
    {{ x.event.e_date|date:"l" }}
    {{ x.event.e_date|date:"jS F Y" }}
    </span>

    {% if IS_CLUB %}
    {% if x.user_can_edit_this_event = True %}
      {% if periodsought = 'current' %}
          <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
          <span>Book in</span></a>
          <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
          <span>Leave event</span></a>
          <a class="btn btn-default" href="{% url 'eventupdate' pk=x.event.pk %} ">
          <span>Change event</span></a>
          <a class="btn btn-default" href="{% url 'eventrepeat' pk=x.event.pk %} ">
          <span>Repeat event</span></a>
          <a class="btn btn-default" href="{% url 'hostsupdate' pk=x.event.pk %} ">
          <span>Update hosts</span></a>
          <a class="btn btn-default" href="{% url 'attendeesupdate' pk=x.event.pk %} ">
          <span>Update attendees</span></a>
          <a class="btn btn-default" href="{% url 'eventdelete' pk=x.event.pk %}">
          <span>Delete event</span></a>
      {% else %}
        {% if x.event_status_now = 'past'%}
          <a class="btn btn-default" href="{% url 'eventrepeat' pk=x.event.pk %} ">
          <span>Publish this event with a current date</span></a>
        {% else %}                                                                   {# i.e. event_status_now is 'live' or 'deletednonpast' #}
          <a class="btn btn-default" href="{% url 'eventrestore' pk=x.event.pk %} ">
          <span>Restore this event</span></a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'eventdeleteperm' pk=x.event.pk %} ">
        <span>Permanently delete  this event</span></a>
      {% endif %}
    {% else %}
      {% if periodsought = 'current' %}
          {% if activeperson.status >= 30 %}
            <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
            <span>Book in</span></a>
            <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
            <span>Leave event</span></a>
          {% elif activeperson.status >= 20 %}
            <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
            <span>Click here to book into this event</span></a>
            <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
            <span>Click here to leave this event</span></a>
          {% endif %}
        {% endif %}
    {% endif %}
    {% endif %}
      {% if IS_CLUB %}
        <h2 class="item"><span class='detail'>{{ x.event.detail_public|linebreaks }}</span></h2>
      {% endif %}
    {% endif %}
      {% if IS_CLUB %}
        {% if activeperson.status >= 15 %}
          <h2 class="item"><span class='detail'>{{ x.event.detail_private|linebreaks }}</span></h2>
        {% endif %}
        {% comment %}
        {% if activeperson.status >= 40 %}
            <h2><span class='label'>Event posted by (or last amended by):</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class='author'>{{x.event.author.first_name}}</span></h2>
        {% endif %}
        {% endcomment %}
        {% if activeperson.status >= 20 %}
          <h2><span class='label'>Host(s):  </span>&nbsp;&nbsp;<span class='attendees'>{{ x.hosts }}    </span></a></h2>
          <h2><span class='label'>Attendees:</span>&nbsp;&nbsp;<span class='attendees'>{{ x.attendees }}</span></a></h2>
        {% endif %}
        {% if activeperson.status >= 15 %}
          <h2 class ='date'>__________________________________________________</h2>
        {% endif %}
      {% else %} {# i.e. is personal diary #}
            <h2 class='item'>
            <a class="btn btn-default" href="{% url 'eventupdate' pk=x.event.pk %}">
            <span class="glyphicon glyphicon-pencil"></span></a>
            {% if periodsought = 'current' %}
              <a class="btn btn-default" href="{% url 'eventdelete' pk=x.event.pk %}">
              <span class="glyphicon glyphicon-remove"></span></a>
            {% else %}
              <a class="btn btn-default" href="{% url 'eventdeleteperm' pk=x.event.pk %} ">
              <span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
              <a class="item" href="{% url 'eventdetail' pk=x.event.pk %}">
              <span class='detail'>{{ x.event.detail_public }}</span></a>
            </h2>
      {% endif %}


  {% endfor %}

  <br><br><br><br>
  <h2>
  {% if activeperson.username != 'default' %}
    <a class="btn btn-default" href="{% url 'unsubscribe' confirmed='no' %}">
    <span class='background'>Unsubscribe</span></a>
  {% endif %}
  </h2>
{% endblock content %}
    {% comment %}

    {% endcomment %}
