{% extends "mysite/base.html" %}

{% block content %}
  {% if activeperson.status >= 30 %}
    {% if periodsought = 'current' %}
      <a class="btn btn-default" href="{% url 'eventinsert' %}" >Add a new event</span></a>
      <a class="btn btn-default" href="{% url 'eventlist' 'notcurrent' %}" >View archived events</span></a>
    {% else %}
      <h1> Events that have either been deleted or have become outdated</h1>
      <a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >View current events</span></a>
    {% endif %}
  {% endif %}
  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'userlist' %}">
    <span>View members</span></a>
  {% endif %}
  {% if activeperson.status >= 35 %}
    <a class="btn btn-default" href="{% url 'userinsert' %}" ><span>Add a prospective member</span></a>
  {% endif %}
  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'password' %}">
    <span>Change Your Password</span></a>
    <a class="btn btn-default" href="{% url 'displayname' %}">
    <span>Change Your Displayed Name</span></a>
    <a class="btn btn-default" href="{% url 'useroptions' type='get' color='get' %}">
    <span>Options</span></a>
    {% comment %}
    {% endcomment %}
  {% endif %}
    <p>_________________________________________________________</p>
  {% for x in events %}
    <h2>
    {{ x.event.e_date|date:"l jS F Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

    {% if x.user_can_edit_this_event = True %}
      {% if periodsought = 'current' %}
        <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
        <span>Book into this event</span></a>
        <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
        <span>Leave this event</span></a>
        <a class="btn btn-default" href="{% url 'eventupdate' pk=x.event.pk %} ">
        <span>Change this event</span></a>
        <a class="btn btn-default" href="{% url 'eventrepeat' pk=x.event.pk %} ">
        <span>Repeat this event</span></a>
        <a class="btn btn-default" href="{% url 'eventdelete' pk=x.event.pk %}">
        <span>Delete this event</span></a>
      {% else %}
        {% if x.event_status_now = 'past'%}
          <a class="btn btn-default" href="{% url 'eventrepeat' pk=x.event.pk %} ">
          <span>Publish this event with a current date</span></a>
        {% else %}                                                                   {# i.e. event_status_now is 'live' or 'deletednonpast' #}
          <a class="btn btn-default" href="{% url 'restore' pk=x.event.pk %} ">
          <span>Restore this event</span></a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'eventdeleteperm' pk=x.event.pk %} ">
        <span>Permanently delete  this event</span></a>
      {% endif %}
    {% else %}
      {% if periodsought = 'current' %}
        {% if activeperson.status >= 30 %}
          <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
          <span>Book into this event</span></a>
          <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
          <span>Leave this event</span></a>
        {% elif activeperson.status >= 20 %}
          <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
          <span>Click here to book into this event</span></a>
          <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
          <span>Click here to leave this event</span></a>
        {% endif %}
      {% endif %}
    {% endif %}
    </h2>

    <h2 class="item">{{ x.event.detail_public|linebreaks }}</h2>
    {% if activeperson.status >= 15 %}
      <h2 class="item">{{ x.event.detail_private|linebreaks }}</h2>
      {% if activeperson.status >= 40 %}
        <h2>Event posted by (or last amended by):&nbsp;&nbsp;&nbsp;&nbsp;<em class='author'>{{x.event.author.first_name}}</em></h2>
      {% endif %}
      <h2 class="attendees"><span class='label'>Attendees:</span>&nbsp;&nbsp;{{ x.attendees }}</a>
    {% endif %}
      <h2>_________________________</h2>
  {% endfor %}
  {% if activeperson.status >= 15 %}
    <a class="btn btn-default" href="{% url 'unsubscribe' confirmed='no' %}">
    <span>Unsubscribe</span></a>
  {% endif %}
{% endblock content %}
    {% comment %}
      <h2>Attendees:</h2>
      <h2 class="attendees">{{ x.attendees }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    {% endcomment %}
